{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Input | MAMA</title>
    <link rel="stylesheet" type="text/css" href="{% static "vendor/bootstrap/bootstrap.css" %} ">
</head>
<body>
    <nav class="site-header sticky-top py-1 bg-dark">
        <div class="container d-flex flex-column flex-md-row justify-content-between">
          <a class="py-2" >
            <img style="height:30px" src="{% static "img/logo.png" %}" alt="">
          </a>
          <a class="py-2 d-none d-md-inline-block" href="/">Home</a>
          <a class="py-2 d-none d-md-inline-block" href="/input/">Input</a>
          <a class="py-2 d-none d-md-inline-block" href="/about/">About</a>
        </div>
      </nav>    

      <div class="jumbotron jumbotron-fluid bg-gray">
        <div class="container text-black text-center">
          <h1 class="display-4">Selamat datang di website MAMA</h1>
          <p class="lead">Disini akan ditampilkan semua webiste</p>
        </div>
      </div>  
      <div class="jumbotron jumbotron-fluid">
        <form method="POST" class="container">
          {% csrf_token %}
          <div class="form-group">
            {{ msg_form.msg.label_tag}}
            {{ msg_form.msg }}
          </div>
          <button type="submit">Kirim</button>
        </form> 
      </div>
   
      <!-- <div class="jumbotron jumbotron-fluid">
        <form method="POST">
          {% csrf_token %}
          <label for="nama">Nama: </label>
          <input type="text" name="nama" id="nama">
          <br>
          <label for="alamat">Alamat: </label>
          <input type="text" name="alamat" id="alamat">
          <br>
          <button type="Submit">Kirim</button>
        </form>
      </div>
      <div class="jumbotron jumbotron-fluid">
        <h4>{{nama}} yang beralamt di: {{alamat}}</h4>
        <h4>{{alamat}}</h4>
      </div>             -->
      <!-- <div class="jumbotron jumbotron-fluid">
        <form method="POST">
          {% csrf_token %}
          <label for="nama">Nama: </label>
          <input type="text" name="nama" id="nama">
          <br>
          <label for="alamat">Alamat: </label>
          <input type="text" name="alamat" id="alamat">
          <br>
          <button type="Submit">Kirim</button>
        </form>
      </div>
      <div class="jumbotron jumbotron-fluid">
        <h4>{{nama}} yang beralamt di: {{alamat}}</h4>
        <h4>{{alamat}}</h4>
      </div>       -->

      
      <!-- <div class="jumbotron jumbotron-fluid">
        <form class="container">
            <div class="form-row">
                <div class="from-group"></div>
                    <label for="name">Name</label>
                    <input type="text" class="form-control" id="name">
            </div>

            <div class="form-row">
                <label for="email">Email</label>
                <input type="email" class="form-control" id="email">
            </div>
            <div class="form-row"></div>
                <div class="from-group"></div>
                    <label for="kategori">Kategori</label>
                    <input type="text" class="form-control" id="kategori">
            </div>
            <div class="form-row">
                <div class="from-group"></div>
                    <label for="link">Link</label>
                    <input type="text" class="form-control" id="link">
            </div>                        

            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>       -->

    <script src="{$ static "vendor/popper/popper.js" %}" type="text/javascript"></script>
    <script src="{$ static "vendor/jquery/jquery.js" %}" type="text/javascript"></script>
    <script src="{$ static "vendor/bootstrap/bootstrap.js" %}" type="text/javascript"></script>    
</body>
</html>